/*폰트*/
@font-face {
    font-family: 'HeirofLightRegular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/HeirofLightRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}/*한글 본문폰트*/

@font-face {
    font-family: '국립박물관문화재단클래식B';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/국립박물관문화재단클래식B.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}/*한글 소제목*/

@font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 400;
    src: url('https://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot');
    src: url('https://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix') format('embedded-opentype'), url('https://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff') format('woff'), url('https://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf') format('truetype');
   }
   
   @font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 700;
    src: url('https://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot');
    src: url('https://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot?#iefix') format('embedded-opentype'), url('https://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.woff') format('woff'), url('https://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.ttf') format('truetype')
   }
   
   @font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 300;
    src: url('https://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot');
    src: url('https://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot?#iefix') format('embedded-opentype'), url('https://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.woff') format('woff'), url('https://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.ttf') format('truetype');
   }
   
   .nanumbarungothic * {
    font-family: 'NanumBarunGothic', sans-serif;
   }/*푸터 폰트*/

@font-face {
    font-family: 'Anisver demo';
    src: url('font/Anisver demo.eot');
    src: url('font/Anisver demo.eot?#iefix') format('embedded-opentype'),
         url('font/Anisver demo.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }/*메뉴 영문폰트1*/
  
  @font-face {
    font-family: 'AnisverRegular';
    src: url('font/AnisverRegular.svg#AnisverRegular') format('svg'),
         url('font/AnisverRegular.ttf') format('truetype'),
         url('font/AnisverRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }/*메뉴 영문폰트2(적용)*/

  @font-face {
    font-family: 'Back to Black Demo';
    src: url('font/Back to Black Demo.eot');
    src: url('font/Back to Black Demo.eot?#iefix') format('embedded-opentype'),
         url('font/Back to Black Demo.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'BacktoBlackDemo';
    src: url('font/BacktoBlackDemo.svg#BacktoBlackDemo') format('svg'),
         url('font/BacktoBlackDemo.ttf') format('truetype'),
         url('font/BacktoBlackDemo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }/*소제목 영문폰트*/

*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: #343434;
}
ul, ol{
    list-style: none;
}
body{
    color: #343434;
    font-family: 'HeirofLightRegular';
    font-size: 100%;
    line-height: 140%;
    background: #e3e3e3 url(images/bg.png) 0% 0%;
    overflow-x: hidden
}
html{
    overflow-x: hidden
}
h1{
    font-family: 'Back to Black Demo';
    font-size: 75px;
    padding-bottom: 110px;
    line-height: 120%;
}

/*header*/
#header{
    background: #e3e3e3;
    overflow: hidden;
}
#header_inner{
    max-width: 1320px;
    margin: 0 auto;
    position: relative;
}
#header_inner>ul>li{
    font-family: 'AnisverRegular';
    width: 13%;
    float: left;
    padding: 20px 0;
    text-align: center;
    font-size: 20px;
}
#header_inner>ul>li:nth-child(4){
    width: 20%;
}
#header_inner>ul>li:nth-child(1),#header_inner>ul>li:nth-child(2),#header_inner>ul>li:nth-child(3),#header_inner>ul>li:nth-child(5),#header_inner>ul>li:nth-child(6),#header_inner>ul>li:nth-child(7){
    padding-top:45px;
}
#header_inner>ul>li>a{
    font-size: 22px;
}
#header_inner>ul>li>a:hover{
    font-weight: bold;
    color: rgb(78, 53, 92);
}
#search{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -104px;
}

.clear{
    clear: both;
}

/*햄버거 버튼*/
.search{
    width: 60%;
    padding: 5px;
    outline: rgb(189, 189, 189);
    background: #e3e3e3;
}
.button{
    width: 65px;
    margin-left: 10px;
    background-color: #343434;
    color: white;
    padding: 3.5px 0;
}
.container{
    display: none;
}

.head{
    width:100%;
    border-bottom:1px solid #e1e1e1;
    position:relative;
}
.logo{
    text-align:center;
    font-size:24px;
    font-style:italic;
    font-weight:800;
    padding:10px 0;
}
.logo img{
    width: 120px;
}

.content{
    height:100%;
    font-size:30px;
    display:flex;
    justify-content:center;
    align-items:center;
}
.slide-open{
    position:absolute;
    top:0px;
    right:0;
    width:50px;
    height:50px;
    cursor:pointer;
    z-index:99;
}
.burgur{
right: 15px;
top: 29px;
position: fixed;
width: 20px;
height: 2px;
background: #000000;
}
.burgur .top-line{
width: 20px;
height: 2px;
background-color: #000000;
bottom: -5px;
content: '';
position: absolute;
right: 0;
-webkit-transition:  -webkit-transform .3s;
transition: transform .3s;

}
.burgur .bot-line {
width: 20px;
height: 2px;
background-color: #000000;
top: -5px;
content: '';
position: absolute;
right: 0;
-webkit-transition:  -webkit-transform .3s;
transition: transform .3s;
}

.burgur.on {
width: 0;
}
.burgur.on .bot-line {
-webkit-transform: translateY(5px) rotate(135deg);
transform: translateY(5px) rotate(135deg);
}
.burgur.on .top-line{
-webkit-transform: translateY(-5px) rotate(-135deg);
transform: translateY(-5px) rotate(-135deg);
}
.slide{
    width:50%;
    position:fixed;
    right:-100%;
    top:0;
    bottom:0;
    -webkit-transition: right .3s;
    -moz-transition: right .3s;
    -ms-transition: right .3s;
    -o-transition: right .3s;
    transition: right .3s;
    background-color:#cccccc;
}
.slide-title{
    width:100%;
    height:100px;
    font-size:42px;
    display:flex;
    justify-content:center;
    align-items:center;
    border-bottom:1px solid #e1e1e1;
}
.slide.on{
    right:0;
}
.slide ul li{
    display:inline-block;
    width:100%;
    padding:10px;
    border-bottom:1px solid #e1e1e1;
}

/*메인배너*/
#mb img{
    width: 100%;
}

/*브랜드*/
#brand{
    margin-top: 70px;
    background: url(images/brand_bg.png) no-repeat center center;
    padding: 10px 0;
    background-size: contain;
}
#brand_inner{
    max-width: 1320px;
    margin: 0 auto;
}
#brand_inner>#box{
    text-align: center;
}
#brand_inner>#box>p{
    line-height: 200%;
    font-size: 22px;
    padding-bottom: 100px;
}
#brand_inner>#box>img{
    max-width: 100%;
}
#brand_inner>#box>h1{
    padding-top: 100px;
}
#brand_inner>#box{
    margin: 105px 0;
}
.block{
    display: none;
    /*브랜드 내용 중간 br 안보이게 하기 */
}
.apple{
    display: none;
}

/*와이너리*/
#winery{
    margin: 170px 0;
}
#winery_inner{
    max-width: 1320px;
    margin: 0 auto;
    text-align: center;
}
.nomal{
    font-size: 20px;
    line-height: 200%;
}
.h2{
    font-size: 28px;
    padding: 40px 0;
    line-height: 200%;
}
.h1{
    font-size: 32px;
    padding: 30px 0 40px 0;
}
#winery_inner>img{
    max-width: 100%;
}
#winery_inner #ani{
    max-width: 480px;
    margin: 0 auto;
    position: relative;
    padding-top: 180px;
}
@keyframes winery{
    0%{transform: rotate(0);}
    50%{transform: rotate(-50deg);}
    100%{transform: rotate(0);}
}
#winery_inner #ani .bottle{
    position: absolute;
    right: 10px;
    top: 46px;
    animation: winery 3s infinite;
    max-width: 100%;
}
#winery_inner #ani .glass{
    max-width: 100%;
}

/*프로그램*/
#program_inner{
    max-width: 1320px;
    margin: 0 auto;
    text-align: center;
}
#program_inner h1{
    padding-top: 30px;
}
#program_inner h2{
    padding: 50px 0 40px 0;
    font-size: 32px;
    font-family: '국립박물관문화재단클래식B';
}
#program_inner p{
    font-size: 18px;
    line-height: 160%;
}
#program_inner p.left{
    text-align: left;
    padding: 50px 0 40px 0;
    margin: 0 auto;
    max-width: 65%;
}
#program_inner #left{
    width: 49%;
    float: left;
}
#program_inner #right{
    float: right;
    width: 49%;
}
#program_inner .money{
    font-size: 38px;
    font-weight: bold;
    padding-bottom: 40px;
}
.block2{
    display: none;
}
#program_inner img{
    max-width: 100%;
}
.block3{
    display: none;
}
#reservation{
    margin: 0 auto;
    width: 130px;
    height: 250px;
    text-align: center;
    padding: 60px 0;
    clear: both;
}
#reservation p{
    line-height: 200%;
    margin-bottom: 20px;
    position: relative;
    animation: reservation 1.5s infinite;
    font-size: 20px;
}
@keyframes reservation{
    0%{top: 0;}
    50%{top: 10px;}
    100%{top: 0;}
}

/*콘서트*/
#concert {
    margin-top: 80px;
}
#concert img{
    width: 100%;
}

/*가이드*/
#guide{
    margin-top: 170px;
}
#guide_inner{
    max-width: 1320px;
    margin: 0 auto;
    text-align: center;
}
#guide_inner p{
    line-height: 200%;
    font-size: 22px;
    padding-top: 80px;
}
.swiper-slide img{
    max-width: 100%;
}

.mb_next:after{content:url(images/guide_right.png);
    }
.mb_prev:after{content:url(images/guide_left.png);
    }
.swiper-button-prev, .swiper-button-next{
    width: 86px;
    height: 147px;
}
/*와이*/
#why{
    margin-top: 150px;
}
#why_inner{
    height: 1560px;
    max-width: 1320px;
    margin: 0 auto;
    text-align: center;
    background: url(images/why_img.png) no-repeat 65% 84%;
    position: relative;
    overflow: hidden;
}
#why_inner>h3{
    padding: 30px 0 50px 0;
    font-size: 28px;
}
#why_inner img{
    max-width: 100%;
}
#why_inner h4{
    padding: 25px 0 15px 0;
    font-size: 23px;
}
#why_inner p{
    font-size: 20px;
    line-height: 150%;
}
.whyimg1{
    position: absolute;
    top: 27%;
    left: 7%;
    width: 27%;
}
.whyimg2{
    position: absolute;
    top: 34%;
    right: 13%;
    width: 27%;
}
.whyimg3{
    position: absolute;
    top: 56%;
    left: 0%;
    width: 27%;
}
.whyimg4{
    position: absolute;
    top: 64%;
    right: 0%;
    width: 27%;
}
#why_laptop{
    max-width: 100%;
    display: none;
    text-align: center;
    overflow: hidden;
}
.why_bg{
    padding: 80px 0;
}
.why_bg img{
    max-width: 100%;
}
.laptop1{
    text-align: center;
    float: left;
    width: 23%;
    padding: 0 1%;
    margin-bottom: 30px;
}
.laptop2{
    text-align: center;
    float: left;
    width: 23%;
    padding: 0 1%;
    margin-bottom: 30px;
}
.laptop3{
    text-align: center;
    float: left;
    width: 23%;
    padding: 0 1%;
    margin-bottom: 30px;
}
.laptop4{
    text-align: center;
    float: left;
    width: 23%;
    padding: 0 1%;
    margin-bottom: 30px;
}
.lapbr{
    display: none;
}

#why_laptop .clear
{
    display: none;
}

/*푸터*/
#footer{
    background: #333;
    color: white;
    font-family: 'NanumBarunGothic';
    width: 100%;
}
#footer_inner{
    max-width: 1320px;
    margin: 0 auto;
    padding: 30px 0;
    overflow: hidden;
}
#footer_logo{
    float: left;
    padding-top: 25px;
}
#footer_inner #text{
    float: left;
    text-align: center;
    width: 700px;
    padding-left: 143px;
}
#footer_inner #text ul li{
    float: left;
    padding: 5px 3px;
    text-align: center;
}
#footer_inner #text ul li a{
    color: white;
}
#footer_inner #text p{
    clear: both;
    line-height: 180%;
}
#footer_inner #text ol li{
    float: left;
    padding: 5px 5px;
    text-align: center;
}
#footer_inner #text ol{
    display: inline-block;
    padding-top: 10px;
}
#footer_inner #text ul{
    display: inline-block;
}
#footer_inner #text ol li{
    opacity: 0.5;
}
#footer_inner #text ol li:hover{
    opacity: 1;
}
#footer_inner #text ul li a:hover{
    border-bottom: 1px solid white;
}
#footer_logo2{display: none;}

/*탑버튼*/
.fix{
    position: fixed;
    z-index: 10;
    bottom: 40px;
    right: 40px;
}





/*미디어쿼리*/
@media(max-width:1320px){
    #section2{width: 100%;}
}

@media(max-width:1374px){
    .container{
        display: block;
    }
    #header>ul>li{
        display: none;
    }
    h1 br{
        display: block;
    }

    #header_inner>ul>li{
        display: none;
    }
    #header_inner #search{
        display: none;
    }
}
    @media(max-width:1410px){
        #brand{background: none;}
    }
    @media(max-width:660px){
       .block{
           display: block;
       }
       #winery .h2{
           font-size: 24px;
       }
       #winery .h1{
        font-size: 28px;
    }
    #brand_inner>#box>p{
        font-size: 18px;
    }
    h1{
        font-size: 60px;
    }
    #guide_inner p{
        font-size: 20px;
    }
    }
    @media(max-width:1320px){
        .block2{
            display: block;
        }
     }
     @media(max-width:1147px){
        #program_inner #left{
            width: 100%;
        }
        #program_inner  #right{
            width: 100%;
        }
        #program_inner p.left{
            max-width: 45%;
            margin: 0 auto;

        }
       #reservation img{
           width: 90px;
       }
    }
    @media(max-width:515px){
        #winery_inner #ani .bottle {
            width: 38%;
            left: 50%;
            padding-left: 10px;
            top: 25%;
        }
        img.glass {
            width: 10%;
        }
    }
    @media(max-width:750px){
        .block3{
            display: block;
        }
    }
    @media(max-width:404px){
        .apple{
            display: block;
        }
        #guide_inner p{
            font-size: 18px;
        }
     }
     @media(max-width:1020px){
        .mb_next{
            display: none;
        }
        .mb_prev{
            display: none;
        }
    }
    @media(max-width:1286px){
        
        #why{display: none;}
        #why_laptop{
            display: block;
        }
        .lapbr{
            display: block;
        }
        #why_inner{
            height: auto;
        }
    }
    @media(max-width:1050px){
        .laptop1{width: 48%;}
        .laptop2{width: 48%;}
        .laptop3{width: 48%;}
        .laptop4{width: 48%;}
        #why_inner{
            height: auto;
            background: url(images/why_img.png) no-repeat 65% 84%;
        }
        #why_laptop .clear{
            display: block;
        }
        .fix img{
            width: 50px;
        }
        .fix {
         position: fixed;
         z-index: 10;
         bottom: 22px;
         right: 22px;
     }
    }
    
    @media(max-width:560px){
        .laptop1{width: 98%;}
        .laptop2{width: 98%;}
        .laptop3{width: 98%;}
        .laptop4{width: 98%;}
        #why_inner{
            height: auto;
        }
    }
    @media(max-width:1200px){
        #footer_logo{
            text-align: center;
            width: 100%;
            float: none;
        }
        #footer_inner #text{
            width: 100%;
            padding: 10px 0;
        }
    }
